/*mixins*/
// Media queries
$break-md: '768px';       
   
/*
@mixin button-hover-effect  {
    transition: color 0.3% ease-in-out;
    background-color:lighten($default, 15%);
    color: rgb(73, 72, 72)
    }

@mixin button-hover-effect {
    transition: color 0.3% ease-in-out;
    background-color:lighten($success, 15%);
    color: rgb(73, 72, 72)
    }
@mixin button-hover-effect {
    transition: color 0.3% ease-in-out;
    background-color:lighten($warning, 15%);
    color: rgb(73, 72, 72)
    }
.btn.info button-hover-effect {
    transition: color 0.3% ease-in-out;
    background-color:lighten($info, 15%);
    color: rgb(73, 72, 72)
    }
    */
 @mixin button-hover-effect {
        transition: color 0.3% ease-in-out;
        background-color:lighten($color-success, 15%);
        color: rgb(73, 72, 72)
        }