/*mixins*/
// Media queries
@mixin mq($break) {  
    $value: map-get($breakpoints, $break);
    $sm: map-get($breakpoints, 'sm');  
}


@mixin button-hover-effect {
    transition: color 0.3% ease-in-out;
    background-color:lighten($color-primary-light, 15%);
    color: rgb(73, 72, 72)
    }
