/*variables*/

// Colors-Grid system
$white: #fff;
$black: #0b0b0b;
$offwhite: #ccc;

$teal: #58e1c1;
$gray: #777;

/*color usage*/
$color-primary: #58e1c1; // teal
$color-primary-light: lighten($color-primary, 15%);
$color-secondary: #51ddfc;
$color-text: #777;
$color-border: #ccc;

$base:#58e1c1;
$base-dark: darken(#58e1c1, 25%);
$base-light: lighten(#51ddfc, 25%);


$color-btn-bg: (
'error': #e4757a,
'success': #63cc82,
'warning': #fd7856,
'default': #51ddfc,
'info': #927bc1,
)
;

//Theme colors
  $color-theme-1: #927bc1; //violet
  $color-theme-2: #fd7856; //coral
  $color-theme-3: #deb2ee; //lilac
  $color-theme-4: #7ee6fd; //lightblue
  $color-theme-5: #88d9a0; //sagegreen
  $color-theme-6: #4da2bb; //steelblue
  $color-theme-7: #ec9fa3; //seapink
  $color-theme-8: #fd9f85; //tangerine
  $color-theme-9: #e4757a; //deepcoral
  $color-theme-10: #63cc82; //emerald
  $color-theme-11: #51ddfc; //malibu
  $color-theme-12: #80e8d1; //riptide


  // Media Query Breakpoints
 
  $break-md : '768px';

  