
/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition: 0.2s;
}
    .btn {
        background-color: $color-primary;
   
        &:hover {
        background: lighten ($color-primary-light, 15%);
        transition: opacity 2s ease-in;
    }
  }



   
